html{
    overflow-x: hidden;
}

.img-round {
    border-radius: 75%;
    max-width: 400px;
    max-height: 400px;
    margin-bottom:4em;
    box-shadow: 2rem 2rem 2rem rgba(0,0,0,.50)!important;
}

#intro {
    padding-top:  5%;
    padding-bottom: 10%;
}

#about {
    padding-top: 20%;
    
}

#projects {
    padding-top: 5%;
    padding-bottom: 15%;
}

#contact {
    padding-bottom: 15%;
}

body {
    background-color: #fff;
    color: #333 ;
    overflow-x: hidden;
}

#navbar{
    background-color: #fff;
    
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #333;
}

.vertical-line {
    border-left: 1px solid black;
    opacity: 25%;
    height: 200px;
    position: absolute;
    left: 50%;
    width:auto;
}

.btn {
    border-radius: 50px;
}

#navbar {
    background: transparent;
}

.navbar-nav {
    margin-left: auto;
}

@media only screen and (max-width: 768px) {
    .vertical-line {
        opacity: 0%;
    } 
}

.social-container {
    margin-top: 1em;
}
.social-links {
    margin:.5em;
    
}

.project-img {
    transition: all 0.25s ease-out;
}

.project-img:hover {
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,.50)!important;
    cursor: pointer;
}

.modal-header {
    border-bottom: 0px;
}



